$bg-card: #FFCD00;
$line: #3d6db4;

.content__detail {
  .detail__pokemon {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    &__info {
      position: relative;
      width: 100%;
      border-radius: 10px;
      background: $bg-card;
      box-shadow: 0px 0px 10px 0px rgba(61,109,180,0.3);
      .pokemon__info {
        max-height: calc(100vh - 170px);
        margin: 20px 10px 20px 20px;
        overflow: auto;
        padding-right: 10px;
        &__title {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 15px 0 10px;
        }
        &__name {
          text-align: center;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          color: #000;
          text-shadow: 0 0 10px $line, 0 0 10px $line;
        }
        &__types {
          margin-top: 10px;
          display: flex;
          gap: 20px;
          justify-content: center;
        }
        &__stats {
          display: grid;
          gap: 5px;
          .pokemon__stat {
            position: relative;
            width: 100%;
            text-transform: uppercase;
            border-bottom: 1px solid $line;
            &__base {
              position: absolute;
              right: 0;
            }
          }
        }
        &__moves {
          .pokemon__move {
            &__name {
              text-transform: capitalize;
            }
          }
        }
      }
    }
    &__section {
      position: relative;
      .pokemon__section {
        &__image {
          display: flex;
          justify-content: center;
          img {
            width: 50%;
    
          }
        }
        &__ball {
          bottom: 50px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          text-align: center;
          img {
            width: 50px;
            cursor: pointer;
            transition-duration: 2s;
            transform: unset;
            top: 0;
            &.rotating {
              // animation: rotating 2s linear infinite;
              transform: rotate(360deg);
            }
            &.throw {
              // position: relative;
              // position: absolute;
              // animation: rotating 2s linear infinite;
              transform: translateY(calc(10vh - 500px)) rotate(180deg);
              transition: transform 500ms cubic-bezier(0, 0.62, 0, 1.39) 0s;
            }
          }
          p {
            font-size: 20px;
            border-bottom: 1px solid;
            font-weight: 700;
          }
        }
      }
    }
  }
}