.content__detail {
  .detail__pokemon {
    &__image {
      display: flex;
      justify-content: center;
      width: 300px;
      height: 300px;
      margin: 0 auto;
      position: relative;
      .pokemon__image {
        border-radius: 100%;
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        z-index: 1;
        &.catching {
          animation: rotating 1s linear infinite;
        }
      }
      img {
        width: 200px;
        height: 200px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.pokemon__image__bg {
          width: 250px;
          height: 250px;
          opacity: 0.5;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: 2s ease-in-out;
        }
        &.pokemon__image__sprite {
          &.catching {
            width: 1px;
            height: 1px;
            transition: 0.7s ease-in-out;
          }
        }
      }
    }
    &__id {
      position: absolute;
      top: calc(50% - 40px);
      transform: translateY(-50%);
      left: -80px;
      padding: 0 0 0 20px;
      width: 100px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px 0 0 50px;
      font-size: 25px;
      color: #FFF;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    &__name {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 290px;
      width: fit-content;
      max-width: calc(100% - 30px);
      height: 50px;
      color: #FFF;
      padding-left: 25px;
      padding-right: 45px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      border-top-right-radius: 50px;
      p {
        line-height: 50px;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: capitalize;
      }
    }
    &__types {
      position: absolute;
      top: calc(50% + 50px);
      transform: translateY(-50%);
      left: 270px;
      padding: 0 45px ;
      height: 50px;
      width: calc(100% - 10px);
      border-bottom-right-radius: 50px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      gap: 10px;
      .pokemon__type__name {
        border-radius: 50px;
        color: #FFF;
        text-transform: uppercase;
      }
    }

    &__catch {
      padding: 30px 0;
      text-align: center;
    }
  }
}